@model GitHubExplorer.Web.Models.GitHubProfileModel
@{
    ViewBag.Title = "Search User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Search User</h2>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SearchUser", "GitHub"))
        {
            <div class="form-group">
                @Html.TextBoxFor(x => x.UserName)      
            </div>
            <span class="form-group">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
            </span>
            <div>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        }
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.AvatarUrl))
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h1>
                @Model.UserName
            </h1>
            <p>
                <img src="@Model.AvatarUrl" alt="@Model.UserName" />
            </p>
            <p>@Model.Location</p>
            <h3>Top 5 repositories</h3>
            <ul>
                @foreach (var repo in Model.GitHubRepositories)
                {
                    <li><a target="_blank" href="@repo.RepositoryUrl">@repo.RepositoryName (<span class="glyphicon glyphicon-star"></span> : @repo.StarCount)</a></li>
                }
            </ul>
        </div>
    </div>
}
